<div class="red">
    <i>G</i>
    <span style="background: green;"> B</span>
</div>
<div>
    <pre style="font-size: small;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper efficitur ante.
Aliquam congue dui vitae ligula maximus blandit. Sed feugiat nibh in velit rhoncus bibendum.
Integer risus justo, posuere nec lorem eget, tempus venenatis massa.
Curabitur tristique dolor arcu, eu viverra metus venenatis at.
Phasellus malesuada tempor enim, sit amet semper mauris interdum ac.
Phasellus tempor maximus magna a auctor. Maecenas auctor dictum volutpat.
Donec at leo nunc. Nullam sed ligula ligula. Sed lobortis venenatis egestas.
Proin congue eleifend ipsum elementum fermentum. Aliquam tempor libero ac ullamcorper pharetra.

Proin tempus ipsum lectus, ut posuere erat pretium non. Aliquam blandit ut tortor sit amet rutrum.



Integer non pulvinar velit. Maecenas sagittis lacus odio. Donec vitae risus efficitur,
lacinia sem at, fermentum tellus. Donec efficitur arcu id felis volutpat, at lacinia magna congue.
Praesent et dui lorem. Cras vitae ipsum at arcu condimentum porttitor at feugiat mauris.
Nam convallis justo sem, vel vulputate libero egestas eu. Pellentesque placerat congue justo,
et venenatis est dictum quis. Mauris scelerisque egestas semper. Pellentesque metus risus,
eleifend ut congue nec, malesuada eu ligula. Curabitur lobortis rhoncus nisl, ac blandit augue
volutpat et. Nunc imperdiet eleifend iaculis. Cras placerat mi et diam faucibus, quis bibendum
mauris euismod.
    </pre>
</div>